@charset "ISO-8859-1";

* {
	box-sizing: border-box;
}
body {
	padding: 0px;
	margin: 0px;
	background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(to bottom, #175d69 23%, #330c43 95%);
	height: 100vh;
    overflow: hidden;
	font-family: 'song myung' , serif;
}

header {
	background: transparent;
	height: 65px;
}

header * {
	color: white;
}

header .title {
	float: left;
	height: inherit;
	margin-left: 2em;
}

header .title-text {
	margin: 11px;
	font-size: 1.8rem;
	font-family: 'song myung', serif;
    text-decoration: none;
	color: #fff;
}

header .nav {
	float: right;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

header .nav li {
	float: left;
	position: relative;
}

header .nav li ul {
	position: absolute;
	top: 44px;
	right: 0px;
	width: 135px;
	display: none;
	list-style: none;
}

header .nav li:hover ul {
	display: block;
}

header .nav li ul li {
	width: 100%;
}

header .nav li ul li a {
	padding: 5px;
	background: white;
	color: #444;
	margin: 1px;
	text-indent: 5px; 
}

header .nav li ul li a.logout {
	color: red;
	font-size: 1em;
}

header .nav li ul li a.myblog {
	color: black;
	font-size: 1em;
}

header .nav li ul li a:hover {
	background: #d5d6d6;
}

header .nav li a {
	display: block;
	padding: 21px;
	font-size: 1.1em;
	text-decoration: none;
}

header .nav li a:hover {
	color: #6dd9f8;
	transition: 0.5s;
	
}
header .menu-toggle {
	display: none;	
} 

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    text-align: center;
    border-radius: 11px;
    margin-top: 25px;
}

@media screen and (max-width: 768px) {
	
	header {
		position: relative;
	}
	
	header .nav {
		width:100%;
		background: #0E94A0;
		max-width: 100%;
		overflow: hidden;
		position: absolute;
		transform: translate(-50%,-50%);
		
	}
	
	
	
	
	header .nav li {
		width: 100%;
	}
	
	header .nav li ul {
		position: static;
		display: block;
		width: 14%;
	}
	
	
	header .nav li ul li a {
	padding: 1px;
	background: none;
	color: white;
	padding-left: 50px;
	text-indent: 5px;
}

	header .nav li ul li a.logout {
		color: red;
		background: white;
		font-size: 1em;
}

	header .nav li ul li a.myblog {
		color: white;
		font-size: 1em;
}

	header .nav li ul li a:hover {
		background: #d5d6d6;
}

	header .nav li a {
		display: block;
		padding: 5px;
		font-size: 1.1em;
		text-decoration: none;
}

	header .menu-toggle {
		display: block;
		position: absolute;
		right: 20px;
		top: 20px;
		font-size: 1.9em;
}
	
	header .title {
		margin-left: .8em;
	}
	
}





#menu-toggle {
  display: none;
}
#menu {
  background-color: #ffa500;
  width: 780px;
  overflow: hidden;
  max-height: 0;
  padding: 0;
  margin: 0 auto;
  transition: all 0.3s ease;
}
#menu-toggle:checked + #menu {
  max-height: 100px;
}