@charset "ISO-8859-1";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
   height: 100vh;
  width: 100%;
  background-image: linear-gradient(to bottom, #175d69 23%, #330c43 95%);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 401px;
  width: 100%;
  background: white;
  border-radius: 68px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 15px;
}

.navbar .logo a {
  font-size: 1.8rem;
  text-decoration: none;
  color: #fff;
}

.center {
  position: absolute;
  top: 53%;
  left: 50%;
 
  transform: translate(-50%, -50%);
  max-width: 351px;
  width: 100%;
  background: white;
  border-radius: 319px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 60%);
  
}

.btn_box {
	position: absolute;
	width: 100%;
	height: 131px;
	display: flex;
	justify-content: right;
	align-items: center;
	border-radius: 8px 8px 0 0;
	
}

.icon_btn {
	position: absolute;
	padding: 11px;
	background: #efefef;
	text-decoration: none;
	width: 34px;
	border-radius: 121px;
	margin-right: 19px;
	cursor: pointer;
	border-color: white;
	box-shadow: 0 0px 9px 0 rgba(0,0,0,0.2), 0 3px 2px 0 rgba(0,0,0,0.19);
	
	
}

.icon_btn:hover {
	background: #fb9188;
	color: white;
	transition: 0.5s;
}
.center h1 {
  text-align: center;
  color: #2691d9;
  height: 0px;
  padding: 28px 0;
}
.center form {
  padding: 0 55px;
  box-sizing: border-box;
}
form .txt_field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
}
.txt_field span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: 0.5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
  top: -5px;
  color: #2691d9;
  display: none;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before {
  width: 100%;
}
.pass {
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}
.pass:hover {
  text-decoration: underline;
  color: #2691d9;
}
input[type="submit"] {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  border: 1px solid;
  border-color: #fff;
  box-shadow: 0 0px 9px 0 rgba(0,0,0,0.2), 0 3px 2px 0 rgba(0,0,0,0.19);
}
input[type="submit"]:hover {
  background: #2691d9;
  color: #e9f4fb;
   transition: 0.5s;
}
.signup_link {
  margin: 30px 0;
  text-align: center;
  font-size: 10px;
  color: #666666;
}
.signup_link a {
  color: #2691d9;
  text-decoration: none;
  font-size: 13px;
}

form .txt_field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
}

.signup_link a:hover {
  text-decoration: underline;
}

.txt_field span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: 0.5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
  top: -5px;
  color: #2691d9;
  display: none;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before {
  width: 100%;
}

.password-toggle-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.password-toggle-icon i {
  font-size: 18px;
  line-height: 1;
  color: #333;
  transition: color 0.3s ease-in-out;
  margin-bottom: 20px;
}

.password-toggle-icon i:hover {
  color: #000;
}
